@import "reset.less";
@import "mixin.less";
@import "vars.less";

body, html{
  height: 100%;
}

img {
  max-width: 100%;
}

.wrapper {
  .flex();
  flex-direction: column;
  font-family: Arial, serif;
  font-size: 0.95em;
  min-height: 100%;
}

a {
  &:link {
    color: @text_color;
    text-decoration-line: none;
  }

  &:visited {
    color: @text_color;
  }
}
/*Header*/
.wrapper .head {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: @blue_color;

  &_login {
    margin: 5px 1% auto 2%;
    display: flex;
    flex-wrap: wrap;

    &_forget {
      margin-top: -5px;

      @media screen and (max-width: 535px) {
        margin-top: 0;
      }
    }

    form input {
      border: 0;
      padding: 1px;
    }
  }

  &_logo {
    font: bold italic 40px arial;
    letter-spacing: -2px;
    margin: 0 auto 3px 2%;
  }

  &_user_icon {
    width: 32px;
    background: url("http://localhost/migwork/src/images/avatar.png") no-repeat;

    @media screen and (max-width: 535px) {
      display: none;
    }
  }
}

/*Main content*/
.wrapper .greeting {
  .flex();
  flex-direction: column;
  background: url("/images/background.png") repeat-x 10% 0;
  flex: 1 0 auto;

    &_page {
      .block_style();
      text-align: center;
      font: bold normal 30px arial;
      width: 100%;
      max-width: 400px;
      margin: 3% auto 0;

      @media screen and (max-width: 535px) {
        margin-top: 0;
      }

      &_info {
        font: normal normal 18px arial;
        color: #4a4a4a;
      }
    }
  &_registration {
    .block_style();
    margin: 0 auto auto;
    padding-bottom: 5px;
    max-width: 400px;
    width: 100%;

    &_input {
      width: 94%;
    }

    &_form {
      margin-left: auto;
      max-width: 95%;
      color: @text_color_second;
    }
  }
}

/*Main*/

.main {
  flex-grow: 2;
  position: relative;

  @media screen and (orientation: landscape) {
    width: 70%;
    align-self: center;
  }

  &__profile {
    background-color: @text_color;

    .avatar {
      position: relative;

      &__buttons {
        background-color: #ffffff;
        box-shadow: 0 0 10px @text_color;
        padding: 0 2px 5px;
        margin: 0 auto;
        text-align: center;
        width: 97%;
        display: flex;
        flex-wrap: wrap;

        &_message, &_addFriend, &_mail, &_call {
          .btn_confirm();
          margin: 5px auto;
          width: 23%;
        }
      }

      &__info {

        &_status {
          position: absolute;
          bottom: 12%;
          left: 3%;
          font-size: 2.5vh;
          color: #ffffff;
          text-shadow: 0 0 1px @text_color_second;
          opacity: 0.8;

          @media screen and (orientation:landscape) {
            margin-left: 12vw;
          }
        }

        &_nick {
          max-width: 70vw;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          position: absolute;
          bottom: 17%;
          left: 3%;
          font-size: 5vh;
          color: #ffffff;
          text-shadow: 0 0 1px @text_color_second;

          @media screen and (orientation:landscape) {
            margin-left: 12vw;
          }
        }
      }

      &__foto {
        height: 40vh;
        overflow: hidden;

        @media screen and (orientation:landscape) {
          height: 50vh;
          max-width: 70%;
          margin-left: 15%;
        }
      }
    }
  }

  .friends {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;


    &_list {

      &__item {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        width: 97%;
        background-color: @text_color;
        margin-bottom: 1%;


        .item_foto {
          flex-basis: 54%;
          margin-right: 1%;
        }

      .item_info {

        a {
          color: @blue_color;
          font-weight: 700;
          font-size: 18px;
         }
      }

      .avatar__buttons {

        &_message, &_addFriend, &_mail, &_call {
          .btn_confirm();
        }
      }   

      
    }
  }

    &_options{
      width: 21%;
      margin: 1%;
      padding: 1%;
      background-color: yellow;
    }
  }

    .info {
      box-shadow: 0 0 10px @text_color;
      width: 97%;
      margin: 0 auto;
      padding: 2px;
      background-color: #ffffff;
      display: flex;

      &__stats {
        width: 28px;
      }

      &__about {
        margin-left: 12%;

        &_data {
          color: @blue_color;
          font-weight: 700;
          font-size: 18px;
          margin-top: 4px;
          height: 28px;

          @media screen and (orientation: landscape) {
            font-size: 18px;
          }
        }
      }
    }

    .progress {
      box-shadow: 0 0 10px @text_color;
      background-color: #ffffff;
      margin: 5px auto;
      width: 97%;
      padding: 2px;
      font-size: 2.3vh;
      display: flex;
      flex-wrap: nowrap;

      @media screen and (orientation: landscape) {
        font-size: 2vw;
      }

      &__block {
        width: 100%;
        flex-shrink: 1;
        display: flex;
        flex-wrap: wrap;

        .property {
          font-weight: 700;
          flex-basis: 50%;
        }

        .positiveVal {
          color: @green;
        }

        .negativeVal {
          color: @red;
        }
      }
    }

    .post {
      box-shadow: 0 0 10px @text_color;
      background-color: #ffffff;
      width: 97%;
      padding: 2px;
      margin: 5px auto;

      &__author {
        display: flex;
        flex-wrap: nowrap;
        height: 50px;
        padding: 2px;

        &_ava {
          height: 48px;
          width: 48px;
          border-radius: 50%;
          overflow: hidden;

          img {
            height: 100%;
          }
        }

        &_nick {
          font-weight: 700;
          font-size: 22px;
        }

        &_postTime {
          color: @text_color_second;
        }

        &_menu {
          .btmMenu ();
          position: relative;

          img {
            position: absolute;
            margin: auto;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
          }
        }

        &_container {
          padding: 3px;
          flex-grow: 2;
        }
      }

      &__picture {
        min-height: 210px;
        width: 100%;

      }

      &__text {
        //min-height: 30px;
        padding: 3px;
        max-height: 100px;
        overflow: hidden;
      }

      &__stats {
        min-height: 30px;
        display: flex;
        flex-wrap: nowrap;

        &_likes, &_comments, &_share {
          .stats ();
          flex-grow: 2;
          display: flex;
          flex-wrap: nowrap;
          padding-left: 10%;

          .counter {
            padding: 3px;
          }
        }
      }
    }

    .publish {
      box-shadow: 0 0 10px @text_color;
      background-color: #ffffff;
      margin: 5px auto;
      width: 97%;
      padding: 2px;
      font-size: 2.3vh;
      display: flex;
      flex-wrap: nowrap;

      &_btn {
        margin: auto 5px;
      }
      
      &_title {
        margin: auto 5px;
      }
      

    }

    .addPost {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      form {
        margin: 0 auto;
      }
      textarea {
        width: 100%;
      }
    }

    .footerMenu {
      display: flex;
      justify-content: space-around;
      background-color: #ffffff;
      box-shadow: 0 0 10px @text_color;
      padding: 3px;
      position: fixed;
      left: 15%;
      bottom: 0;
      width: 70%;

      &__home, &__profile, &__messages, &__groups, &__search {
        .btmMenu ();
      }
    }
  }

/*Footer*/
.wrapper .foo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1% 0.5% 0.5%;
  background-color: @blue_color;
  color: @text_color;
}

/*Buttons*/
.btn_submit {
  .btn_confirm();
}

.dropdown {
  .dropdown();
}

