@import "reset.less";
@import "mixin.less";
@import "vars.less";

body, html{
  height: 100%;
}

img {
  max-width: 100%;
}

.wrapper {
  .flex();
  flex-direction: column;
  font-family: Arial, serif;
  font-size: 0.95em;
  min-height: 100%;
}

a {
  &:link {
    color: @text_color;
    text-decoration-line: none;
  }

  &:visited {
    color: @text_color;
  }
}
/*Header*/
.wrapper .head {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  background-color: @blue_color;

  &_login {
    flex-basis: 75%;
    margin: 5px 1% auto 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

    &_forget {
      margin-top: -5px;

      @media screen and (max-width: 535px) {
        margin-top: 0;
      }
    }
  }

  &_logo {
    font: bold italic 40px arial;
    letter-spacing: -2px;
    margin: 0 auto 3px 2%;
  }

  &_menu {
    .flex();
    margin: auto 1%;
    }


  &_user_icon {
    width: 32px;
    background: url("http://localhost/migwork/src/images/avatar.png") no-repeat;

    @media screen and (max-width: 535px) {
      display: none;
    }
  }
}



/*Main content*/
.wrapper .greeting {
  .flex();
  flex-direction: column;
  background: url("/src/images/background.png") repeat-x 10% 0;
  flex: 1 0 auto;

    &_page {
      .block_style();
      text-align: center;
      font: bold normal 30px arial;
      max-width: 400px;
      margin: 3% auto 0;

      @media screen and (max-width: 535px) {
        margin-top: 0;
      }

      &_info {
        font: normal normal 18px arial;
        color: #4a4a4a;
      }
    }
  &_registration {
    .block_style();
    margin: 0 auto auto;
    padding-bottom: 5px;
    max-width: 400px;
    width: 100%;

    &_input {
      width: 94%;
    }

    &_form {
      margin-left: auto;
      max-width: 95%;
      color: @text_color_second;
    }
  }
}

/*Main*/

.main {
  flex-grow: 2;
  position: relative;

  &__profile {
    background-color: @text_color;

    .avatar {
      position: relative;

      &__buttons {
        text-align: center;
        position: absolute;
        top: 8px;
        right: 2%;
        width: 37px;

        &_message, &_addFriend, &_mail, &_call {
          .btn_confirm();
          font-size: 12pt;
          width: 100%;
          margin-top: 40%;
          padding-top: 6px;
          img {
          }

          @media all and (orientation:landscape) {
            width: 20%;
          }
        }
      }

      &__info {

        &_status {
          position: absolute;
          bottom: 13%;
          left: 3%;
          font-size: 12pt;
          color: #ffffff;
          text-shadow: 0 0 2px @text_color;
          opacity: 0.8;
        }

        &_nick {
          position: absolute;
          bottom: 18%;
          left: 3%;
          font-size: 22pt;
          color: #ffffff;
          text-shadow: 0 0 1px @text_color;
        }
      }

      &__foto {
        height: 30%;
        overflow: hidden;

        img {
          max-width: 100%;
        }

        @media all and (orientation:landscape) {
          width: 50%;
          margin: auto;
        }
      }
    }
  }

    .info {
      box-shadow: 0 0 10px @text_color;
      width: 97%;
      margin: 0 auto;
      padding: 2px;
      background-color: #ffffff;

      &__contacts {
        font-weight: 700;
        color: @text_color_second;
        font-size: 11pt;
      }
    }

    .status {
      box-shadow: 0 0 10px @text_color;
      background-color: #ffffff;
      margin: 5px auto;
      width: 97%;
      padding: 2px;
      font-size: 11pt;

      table {
        width: 100%;
      }
    }

    .progress {
      box-shadow: 0 0 10px @text_color;
      background-color: #ffffff;
      margin: 5px auto;
      width: 97%;
      padding: 2px;
      font-size: 11pt;

      table {
        width: 100%;

        .property {
          font-weight: 700;
        }

        .positiveVal {
          color: @green;
        }

        .negativeVal {
          color: @red;
        }
      }
    }

    .post {
      min-height: 320px;
      box-shadow: 0 0 10px @text_color;
      background-color: #ffffff;
      width: 97%;
      margin: 5px auto;

      &__author {
        display: flex;
        flex-wrap: nowrap;
        height: 50px;
        padding: 2px;

        &_ava {
          height: 50px;
          width: 50px;
          border-radius: 50%;
        }

        &_nick {
          font-weight: 700;
          font-size: 13pt;
        }

        &_postTime {
          color: @text_color_second;
        }

        &_menu {
          .btmMenu ();
          position: relative;

          img {
            position: absolute;
            margin: auto;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
          }
        }

        &_container {
          padding: 3px;
          flex-grow: 2;
        }
      }

      &__picture {
        min-height: 210px;
        width: 100%;
      }

      &__text {
        min-height: 30px;
      }

      &__stats {
        min-height: 30px;
        display: flex;
        flex-wrap: nowrap;

        &_likes, &_comments, &_share {
          .stats ();
          flex-grow: 2;
          display: flex;
          flex-wrap: nowrap;
          padding-left: 10%;

          .counter {
            padding: 3px;
          }
        }
      }
    }

    .footerMenu {
      display: flex;
      justify-content: space-around;
      background-color: #ffffff;
      box-shadow: 0 0 10px @text_color;
      padding: 3px;
      position: fixed;
      bottom: 0;
      width: 100%;

      &__home, &__profile, &__messages, &__groups, &__search {
        .btmMenu ();
      }
    }
  }

/*Footer*/
.wrapper .foo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1% 0.5% 0.5%;
  background-color: @blue_color;
  color: @text_color;
}

/*Buttons*/
.btn_submit {
  .btn_confirm();
}

.dropdown {
  .dropdown();
}

